doctype html
html
  head
    title Slim lang
    meta charset="UTF-8"
    meta name="keywords" content="template language"
    meta name="author" content="Slim Template Engine"
    link href="style.css" media="screen" rel="stylesheet" type="text/css"

  body